[user]
	name = Brad Zacher
	email = brad.zacher@gmail.com
	signingkey = 9132184EA9C3AF39

[blame]
	markIgnoredLines = true
	markUnblamableLines = true

[color]
	ui = auto

[core]
	commentChar = ";"
	editor = nano
	excludesfile = ~/.gitignore_global
	fsmonitor = true
	pager = 
	untrackedcache = true

[commit]
	gpgsign = true

[credential]
	useHttpPath = true

[diff]
	external = difft --skip-unchanged

[fetch]
	prune = true

[log]
	date = local

[merge "ours"]
	driver = true

[push]
	autoSetupRemote = true
